<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      <title>UNFetter Insight!</title>

      {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/bower_components/bootstrap/dist/css/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/bower_components/font-awesome/web-fonts-with-css/css/fontawesome.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/bower_components/nprogress/nprogress.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='build/css/custom.css')}}">        
      {% endblock styles %}
    {% endblock head %}
  </head>

  <body class="{% block body_class %}nav-md {% endblock body_class %}">
    {% block body %}
      <div class="container body">
        <div class="main_container">
          {% block top_navigation %}
            <div class="top_nav">
              {% include "top_navigation.html" %}
            </div>
          {% endblock top_navigation %}
          {% block content %}
          {% endblock content %}
        </div>
      </div>
        <script type="text/javascript" src="{{ url_for('static', filename='vendors/bower_components/jquery-3.3.1.min/index.js') }}"></script> 
        <script type="text/javascript" src="{{ url_for('static', filename='vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>         
        <script type="text/javascript" src="{{ url_for('static', filename='vendors/bower_components/fastclick/lib/fastclick.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendors/bower_components/nprogress/nprogress.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendors/bower_components/jquery.hotkeys/jquery.hotkeys.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendors/bower_components/bootstrap-notify/js/bootstrap-notify.js') }}"></script>       
        <script type="text/javascript" src="{{ url_for('static', filename='build/js/custom.js') }}"></script>
    {% endblock body %}
  </body>
</html>
