<div class="nav_menu">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="/static/images/babelfishlogo.png" id="logo"alt=""><font id="page_title">BABELFISH</font>
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li><a href="/">Upload Report</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
